apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ai-lab-2-1-paid-hpa
  namespace: ai-ml-lab-2-1
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ai-lab-2-1-paid
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
