apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-config-paid
  namespace: ai-ml-lab-3-1-paid
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          http:

    processors:
      batch:

    exporters:
      logging:
        loglevel: debug

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [logging]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [logging]
